* {
    box-sizing: border-box;
  }

  #form {
    display: grid;
  width: 100vh;
  height: 2rem;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  grid-template-columns: 800px 110vh;
  }
  
#query {
    height: 2rem;
    width: 50%;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2px 23px 2px 30px;
}

#query:hover, #query:focus {
    border: 1.5px solid #009688;
    background-color: white;
  }

.buttonSubmit {
  width: 20%;
  height: 2rem;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
.buttonClear {
  width: 10%;
  height: 2rem;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  padding: 6px;
  padding-left: 20px;
  text-decoration: none;
  padding-right: 20px;
}

.buttonSubmit:hover {
    background: #0b7dda;
  }

.buttonClear:hover {
  background: #0b7dda;
  text-decoration: none;
  color:white;
}
  